<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ePOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ePOS.Properties.Settings.ePOSdataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ePOSdata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ePOS.Properties.Settings.DataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <ePOS.Properties.Settings>
            <setting name="UserBackColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="UserMatrixColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="UserScrollColor" serializeAs="String">
                <value>Khaki</value>
            </setting>
            <setting name="UserModeColor" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
        </ePOS.Properties.Settings>
    </userSettings>
</configuration>